:root { 
    --button-height:30px;
    --button-width:50px;
    --button-margin:5px;
    --display-height:50px;
    --border-color: #F2F2F2;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.calculator__container{
    border: 1px solid var(--border-color);
    width:250px;
}

.calculator__display{
    border: 2px solid var(--border-color);
    height: var(--display-height);
    margin: var(--button-margin);
}

.calculator__display .display__input{

    height: calc(var(--display-height)/2);
    display:flex;
    align-items: center;
    justify-content: left;
}

.calculator__display .display__result{

    height: calc(var(--display-height)/2);
    display:flex;
    align-items: center;
    justify-content: left;
}

.div__keypad{
    display:flex;
}

/*ez a grow miatt kell...*/
.keypad__column{
    display: flex;
    flex-direction:column;
}

.div__btn{
    border: 1px solid var(--border-color);
    width: var(--button-width);
    height: var(--button-height);
    margin: var(--button-margin);
    background-color:#F9F9F9;
    user-select: none; /*nem lehet kijelölni*/
    /*tartalom középre*/
    display:flex;
    align-items: center;
    justify-content: center;
    /*effect*/
    transition: 0.3s;
}

.div__btn:hover {
    border: 2px solid orange;
}

.btn--grow{
   flex-grow:1;
   background-color: #4D8FFD;
   color:#FFF
}

.btn__operator{
  background-color:#DDDDDD;
}

